@media (max-width:849px) {
    .navigation__btn {
        padding: 8px 10px;
        font-size: small;
    }
}

@media (max-width:579px) {
    .product-card {
        width: 200px;
    }

    .buy-button {
        padding: 8px 10px;
        font-size: small;
    }

    .navigation__btn {
        padding: 5px 10px;
        font-size: 8px;
    }
}

@media (max-width:483px) {

    .navigation {
        display: none;
    }

    .product-card {
        width: 145px;
    }

    .product-name {
        font-size: 10px;
    }

    .product-card p {
        font-size: 10px;
    }

    .buy-button {
        padding: 5px 8px;
        font-size: 8px;
    }

    .container-main {
        padding: 5px;
    }

    .logo {
        width: 70px;
    }

    .header__button {
        width: 20px;
        height: auto;
    }

    .header__button-svg {
        width: 20px;
        height: auto;
    }

    .header__button:not(:last-child) {
        margin-right: 10px;
    }

    .header__container {
        justify-content: space-evenly;
    }

    .cart-count-badge {
        top: -13px;
        right: -14px;
    }

    .cart__container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        transform: none;
        top: 0;
        left: 0;
    }


    .cart-item-image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 125px;
    }

    .header__search {
        top: 22px;
        left: 28px;
        padding: 3px 5px;
        z-index: 2000;
    }

    .header__search input[type="text"] {
        padding: 3px;
    }

    .header__search input[type="text"]::placeholder {
        font-size: 14px;
    }



}

@media (max-width:480px) {
    .container-main {
        padding: 10px;
    }
    .logo-button {
        display: none;
    }
    .logo {
        width: 60px;
    }
    .header {
        background-image: none;
        padding: 0px 10px;
        margin: 0;
    }
    .bar {
        background-color: black;
    }
    .header__button {
        display: none;
    }
    .header__button-cart {
        display: block;
    }
    .header__button-svg path {
        fill: black;
    }
    .header__container {
        justify-content: space-between;
    }
    .burger-menu {
        padding: 6px;
    }
    .header__search {
        display: block;
        top: -3px;
        left: -120px;
        border-radius: 10px;
        z-index: 1;
    }
    .hero-mobile {
        display: block;
      }
    .navigation {
        display: block;
        padding: 0;
    }
    .navigation__container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .navigation__btn {
        background-color: #fff;
        color: black;
        width: 125px;
        height: 56px;
        font-size: 14px;
        flex: 0 0 auto;
        background-image: url(../img/decorating-1.jpg);
        margin-bottom: 0;
        margin-right: 10px;
        padding-right: 25px;
    }
    .navigation__btn:hover {
        background-color: #fff;
      }
      
      .navigation__btn:active {
        background-color: #fff;
      }
      .product-card {
        margin: 0;
      }
      .product-img {
        margin-bottom: 10px;
      }
      .product-name {
        margin-bottom: 5px;
      }
      .navigation__h3 {
        display: block;
      }
}