@media (max-width:849px) {
    .navigation__btn {
        padding: 8px 10px;
        font-size: small;
    }
    .for-me__img {
      display: none;
    }

    .for-me__pararaph {
      width: 100%;
    }

    .feedback__list {
      flex-direction: column;
    }

    .feedback__item {
      margin: 0;
    }

    .feedback__item:not(:last-child) {
      margin: 0;
      margin-bottom: 60px;
    }

    .cart__calc {
      flex-direction: column;
    }
    .cart-items , .cart-summary {
      width: 100%;
    }
}

@media (max-width:579px) {
    .product-card {
        width: 200px;
    }

    .buy-button {
        padding: 8px 10px;
        font-size: small;
    }

    .navigation__btn {
        padding: 5px 10px;
        font-size: 8px;
    }
}

@media (max-width:483px) {

    .navigation {
        display: none;
    }

    .product-card {
        width: 145px;
    }

    .product-name {
        font-size: 10px;
    }

    .product-card p {
        font-size: 10px;
    }

    .buy-button {
        padding: 5px 8px;
        font-size: 8px;
    }

    .container-main {
        padding: 5px;
    }

    .logo {
        width: 70px;
    }

    .header__button {
        width: 117px;
        height: auto;
    }

    .header__button-svg {
        width: 20px;
        height: auto;
    }

    .header__button:not(:last-child) {
        margin-right: 10px;
    }

    .header__container {
        justify-content: space-evenly;
    }

    .cart-item {
      justify-content: center;
      align-items: normal;
    }

      .cart-item-image {
        max-width: none;
        width: 200px; 
        margin-right: 10px;
      }

      .cart-item-image img {
        width: 125px;
      }

    .cart-count-badge {
        top: 7px;
        right: 0px;
    }
    .item__container-cart {
      align-items: flex-end;
    }

    .item__cart-name {
      text-align: right;
    }
    .cart__container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        transform: none;
        top: 0;
        left: 0;
        padding: 10px;
    }


    .header__search {
        top: 22px;
        left: 28px;
        padding: 3px 5px;
        z-index: 2000;
    }

    .header__search input[type="text"] {
        padding: 3px;
    }

    .header__search input[type="text"]::placeholder {
        font-size: 14px;
    }



}

@media (max-width:480px) {
    .hero {
      display: none;
    }
    .container-main {
        padding: 10px;
    }
    .logo-button {
        display: none;
    }
    .logo {
        width: 60px;
    }
    .header {
        position: relative;
        background-image: none;
        padding: 0;
        margin: 0;
    }
    .bar {
        background-color: white;
        height: 4px;
        background-image: none;
    }
    
    .header__button {
        display: none;
    }
    .header__button-cart {
        display: block;
    }
    .header__button-svg path {
        fill: white;
    }
    
        .header__container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        padding: 20px;
    }
    
    .burger-menu {
        padding: 6px;
    }
    .header__hero-mobile {
        display: block;
      }
    .navigation {
        display: block;
        padding: 0;
    }
    .navigation__container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        width: 100%;
    }
    .navigation__btn {
        background-color: #dae698;
        color: black;
        font-size: 14px;
        padding: 13px 15px;
        flex: 0 0 auto;
        margin-bottom: 0;
    }
    .navigation__btn:not(:last-child) {
        margin-right: 10px;
    }
    .navigation__btn:hover {
        background-color: #bcc971;
      }
      
      .navigation__btn:active {
        background-color: #bece63;
      }
      .product-card {
        width: 50%;
        min-width: 155px;
        margin: 0;
      }
      .product-img {
        margin-bottom: 10px;
      }
      .product-name {
        margin-bottom: 5px;
        font-size: 18px;
      }
      .navigation__h3 {
        display: block;
      }
      .search__mobile-section {
        display: block;
      }

      .search-mobile {
        display: flex;
        justify-content: center;
        max-width: min-content;
        border: 1px solid rgba(222, 222, 222, 1);
        border-radius: 8px;
      }

      .search__mobile-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .search-mobile input {
        border: none;
        padding: 10px;
        width: 335px;
      }
      .search-mobile input:active , .search-mobile input:focus , .search-mobile input:hover {
        outline: none;
      }

      .search-mobile-union {
        margin-left: 10px;
      }

      .menu__link-item {
        font-size: 22px;
      }
      .menu__container {
        padding-top: 100px;
        padding-left: 30px;
      }
      .menu__link-container {
        margin-bottom: 30px;
      }
      .menu__container-right {
        display: none;
      }
      .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 9999;
      }
      .popup__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        transform: none;
        border-radius: 0px;
      }
      .popup__h3 {
        padding-top: 20px;
        padding-left: 20px;
        margin-bottom: 5px;
        font-size: 23px;
        font-weight: 600;
      }
      .popup__content-left {
        margin-bottom: 30px;
        padding: 0;
      }
      .popup__img {
        max-width: 100%;
        height: auto;
      }
    
      .popup__price {
        padding-left: 20px;
      }
      .popup__descr {
        padding-top: 0;
      }
      .popup__cont-bottom {
        width: 100%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        margin-top: -55px;
        padding: 20px;
        background-color: #fff;
      }

    }


@media (max-width:390px) {
  .cart-item-image img {
    width: 100px;
  }

  .preloader__image {
    background: url('../img/fakeloader-min.gif') no-repeat 50% 50%;
  }
}
    