* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--index: calc(1vw + 1vh);
--text: #e7e7e0;
--transition: transform .75s cubic-bezier(0.075, 0.500, 0.000, 1.000);
}

a {
color: inherit;
text-decoration: none;
}
        
img {
max-width: 100%;
}

p {
display: inline;
margin: 0;
padding: 0;
}
    

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
        
.btn-reset {
    padding: 0;
    border: 0;
    border-color: transparent;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body {
    font-family: raleway_f , sans-serif;
    min-width: 320px;
}


/* BURGER */

.burger-menu {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .bar {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .bar:nth-child(2) {
    transition-delay: 0.10s;
  }
  
  .bar:nth-child(3) {
    transition-delay: 0.10s;
  }
  
  .burger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
  }
  
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .burger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
  }


  .menu {
    display: none;
    position: absolute;
    top: -4px;
    left: 5px;
    padding: 40px 60px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #9fa10d;
    z-index: 100;
  }
  
  .menu.active {
    display: block;
    opacity: 1;
  }
  
  .menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu__list-item {
    margin-bottom: 10px;
  }
  
  .menu__list-item-a {
    text-decoration: none;
    color: white;
    font-size: 18px;
  }

/* SHOP HEADER */

.container-main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.logo {
    width: 130px;
    height: auto;
}

.header {
    background-image: url(../img/body-bg.png);
    width: 100%;
    margin-bottom: 10px;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.header__social {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__button {
  width: 30px;
  height: 30px;
}

.header__button:not(:last-child) {
    margin-right: 15px;
}

.header__search {
    display: none;
    position: absolute;
    top: -9px;
    left: -130px;
    transform: translateX(-46%);
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 21px;
    padding: 7px 15px;
  }
  
  .header__search.active {
    display: block;
  }

.header__search input[type="text"] {
    padding: 8px;
    border: none;
    outline: none;
}

.header__search input[type="text"]:focus {
    border-color: #333;
}


.header__search button:hover {
    background-color: #8a8c0b;
}

/* NAVIGATION */

.navigation {
  padding: 10px;
}

.navigation__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation__btn {
  background-color: #9fa10d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
}

.navigation__btn:hover {
  background-color: #babd0c;
}

.navigation__btn:active {
  background-color: #666808;
}


/* PRODUCTS */

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Стили для карточки товара */
.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: auto;
  }
  
  .product-img {
    margin: 0;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Добавляем плавный переход */
  }

  .product-img:hover {
    transform: scale(1.1); /* Увеличиваем картинку при наведении */
}
  
  .product-name {
    font-size: 18px;
   margin-bottom: 10px;
   cursor: pointer;
   flex-grow: 1; /* Растягиваем заголовок, чтобы кнопка была внизу */
   transition: all 0.3s ease-in-out;
  }

  .product-name:hover {
    color: #659240;
  }
  
  .product-card p {
    display: block;
    margin-bottom: 10px;
  }
  
  .buy-button {
    background-color: #9fa10d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .buy-button:hover {
    background-color: #babd0c;
  }
  
  .buy-button:active {
    background-color: #666808;
  }


  /* POPUP */

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup__content {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    width: 55%;
    height: 90%;
    overflow-y: auto;
  }

  .popup__content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 20px;
  }

  .popup__content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .popup__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 40px;
    border-radius: 10px;
  }

  .popup__price {
    margin-bottom: 20px;
  }

  .popup__h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  
  .popup__button {
    background-color: #9fa10d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
  }

  .popup__descr {
    margin-bottom: 30px;
  }
  
  /* Затемнение заднего фона при открытом popup */
  .products.popup-open {
    filter: blur(2px);
  }


  /* CART */


.cart__hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.cart__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 35px;
    border-radius: 10px;
    width: 55%;
    height: 90%;
    overflow-y: auto;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}


.cart__header {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

.cart__h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

.cart__main {
    padding: 20px;
}

.cart__calc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-items {
    width: 100%;
}

.cart-item {
    display: flex;
    align-items: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-summary {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    background-color: #f8f9fa;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cart-summary h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;

}

.cart-summary button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #69b927;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-summary button:hover {
    background-color: #76d12b;
}

.quantity-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #659240;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-button:hover {
    background-color: #69b927;
}

.remove-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #15ccda;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #14a2ac;
}

.cart-item-image {
  max-width: 100px;
  height: auto;
  margin-right: 30px;
}

.cart-item-image img {
  border-radius: 20px;
}

.item__container-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item__cart-name , .item__cart-price , .item__cart-calc {
  margin-bottom: 10px;
}

.cart-count-badge {
  position: absolute;
  top: -10px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

/* FORM */

.form__label {
  font-size: 18px;
  display: block;
}

.form__body {
  position: relative;
}

.form__body::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(51, 51, 51, 0.9) url(#) center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__input {
  height: 50px;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
}

.form__item-minigroup {
  display: flex;
}

.form__input-mini {
  padding: 0px 10px;
  width: 60%;
}

.checkbox {
  margin-bottom: 10px;
}

/* _sending */