* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
  scrollbar-gutter: stable;
}

:root {
--index: calc(1vw + 1vh);
--text: #e7e7e0;
--transition: transform .75s cubic-bezier(0.075, 0.500, 0.000, 1.000);
}

a {
color: inherit;
text-decoration: none;
}
        
img {
max-width: 100%;
}

p {
display: inline;
margin: 0;
padding: 0;
}
    

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}
        
.btn-reset {
    padding: 0;
    border: 0;
    border-color: transparent;
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
    font-weight: 300;
}
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Thin.woff2);
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ExtraLight.woff2);
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-ExtraBold.woff2);
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-SemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-regular.woff2);
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 800;
}
@font-face {
  font-family: CirceRounded;
  src: url(../fonts/CirceRounded-AltBold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: CirceRounded;
  src: url(../fonts/CirceRounded-ExtraLight.woff2);
  font-weight: 200;
}
@font-face {
  font-family: CirceRounded;
  src: url(../fonts/CirceRounded-Regular.woff2);
  font-weight: 300;
}
@font-face {
  font-family: CirceRounded;
  src: url(../fonts/CirceRounded-Regular2.woff2);
  font-weight: 300;
}
@font-face {
  font-family: CirceRounded;
  src: url(../fonts/CirceRounded-Regular3.woff2);
  font-weight: 300;
}
@font-face {
  font-family: CirceRounded;
  src: url(../fonts/CirceRounded-Regular4.woff2);
  font-weight: 300;
}
@font-face {
  font-family: CirceRounded;
  src: url(../fonts/CirceRounded-Regular5.woff2);
  font-weight: 300;
}


@font-face {
  font-family: Maki Sans;
  src: url(../fonts/Maki_Sans.woff2);
  font-style: normal;
  font-weight: 500;
}

body {
    font-family: Raleway, raleway_f, Maki Sans, sans-serif;
    min-width: 320px;
}


.container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* BURGER */

.burger-menu {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }
  
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .bar {
    width: 100%;
    height: 7px;
    background-image: url(../img/bar.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .bar:nth-child(2) {
    transition-delay: 0.10s;
  }
  
  .bar:nth-child(3) {
    transition-delay: 0.10s;
  }
  
  .burger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
  }
  
  .burger.active .bar:nth-child(2) {
    opacity: 0;
  }
  
  .burger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -9px);
  }


  
  .menu__link-item {
    font-size: 40px;
    font-family: Maki Sans;
    color: #c77d80;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .menu__link-item:not(:last-child) {
    margin-bottom: 20px;
  }

  .menu__link-item:hover {
    transform: scale(1.1);
  }

  .menu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: #ead6bc;
    z-index: 10;
    background-image: url(../img/table-burger.PNG);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    background-position-y: bottom;
  }

  .menu__container {
    display: flex;
    justify-content: space-between;
    padding: 100px;
    padding-top: 130px;
  }

  .menu__container-left {
    margin-right: 30px;
  }

  .menu__container-right {
    display: none;
  }

  .menu__container-right-nav {
    margin-right: 30px;
  }

  .menu__link-container {
    margin-bottom: 100px;
  }

  .menu__social-svg:not(:last-child) {
    margin-right: 30px;
  }
  
  .menu.active {
    display: block;
    opacity: 1;
  }

  
  .menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu__list-item , .menu__comm-item {
    margin-bottom: 10px;
  }

  .menu__list-h3 , .menu__comm-h3 {
    font-size: 30px;
    font-family: Maki Sans;
    color: white;
    margin-bottom: 30px;
  }

  .menu__list-item-btn , .menu__comm-item {
    text-decoration: none;
    color: #e0d7d7;
    font-size: 20px;
  }

/* SHOP HEADER */

.logo {
    width: 200px;
    height: auto;
}

.logo-button {
  transition: transform 0.3s ease-in-out;
}

.logo-button:hover {
 transform: scale(1.1);
}

.header {
    background-image: url(../img/header-bg.PNG);
    background-repeat: round;
    width: 100%;
}

.header__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 30px;
}

.header__social {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__button {
  width: 70px;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.header__button:not(:last-child) {
    margin-right: 15px;
}

.header__search {
    display: none;
    position: absolute;
    top: 11px;
    left: -130px;
    transform: translateX(-46%);
    background-color: #b29163;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 7px 15px;
  }
  
  .header__search.active {
    display: block;
  }

.header__search input[type="text"] {
    padding: 8px;
    border: none;
    outline: none;
    background-color: #b29163;
    color: #d3e7ea;
}

.header__search input[type="text"]:focus {
    border-color: #333;
}

.header__search input::placeholder {
  color: #d3e7ea;
}

.header__search button:hover {
    background-color: #8a8c0b;
}

.header__hero-mobile {
  display: none;
}

.search__mobile-section {
  display: none;
}

.header__button-search:hover , .header__button-cart:hover {
 transform: scale(1.3);
}


/* HERO */

.swiper {
  height: 600px;
}
.hero__slide__1 {
  background-image: url(../img/hero__slide-1.JPG);
}
.hero__slide__2 {
  background-image: url(../img/hero__slide-1.JPG);
}
.hero__slide__3 {
  background-image: url(../img/hero__slide-1.JPG);
}
.hero__swiper-container {
  height: 600px;
}
.swiper-slide {
  height: 600px;
}
.swiper__hero {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; 
  -webkit-box-align: center; 
      -ms-flex-align: center; 
          align-items: center;
  overflow: hidden;
  height: 600px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin:  0 10px;
  width: 15px;
  height: 15px;
  background-color: azure;
}
.swiper-button-prev , .swiper-button-next {
  display: none;
}
.hero__slide__1 , .hero__slide__2 , .hero__slide__3 {
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}
/* NAVIGATION */

.navigation {
  padding: 10px;
}

.navigation__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navigation__btn {
  background-color: #9fa10d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px;
  font-family: CirceRounded;
  font-weight: 600;
}

.navigation__h3 {
  display: none;
}

.navigation__btn:hover {
  background-color: #babd0c;
}

.navigation__btn:active {
  background-color: #666808;
}


/* PRODUCTS */

.products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* Стили для карточки товара */
.product-card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 250px;
    height: auto;
  }
  
  .product-img {
    margin: 0;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Добавляем плавный переход */
  }

  .product-img:hover {
    transform: scale(1.1); /* Увеличиваем картинку при наведении */
}
  
  .product-name {
    font-size: 18px;
    font-weight: 600;
   margin-bottom: 10px;
   cursor: pointer;
   flex-grow: 1; /* Растягиваем заголовок, чтобы кнопка была внизу */
   transition: all 0.3s ease-in-out;
  }

  .product-name:hover {
    color: #659240;
  }
  
  .product-card p {
    display: block;
    margin-bottom: 10px;
  }
  
  .buy-button {
    background-color: #9fa10d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .buy-button:hover {
    background-color: #babd0c;
  }
  
  .buy-button:active {
    background-color: #666808;
  }


  /* POPUP */

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    top: 0;
    left: 0;
    transform: translate(50%, 10%);
    width: 50%;
    height: auto;
    overflow-y: auto;
    border-radius: 10px;
  }

  .popup__content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    padding-left: 30px;
  }

  .popup__content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  .close {
    font-weight: 700;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  .popup__img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;
  }

  .popup__price {
    margin-bottom: 20px;
  }

  .popup__h3 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
  }
  
  .popup__button {
    background-color: #9fa10d;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
  }
  .popup__material {
    display: none;
  }
  .popup__descr {
    margin-bottom: 30px;
  }
  
  /* Затемнение заднего фона при открытом popup */
  .products.popup-open {
    filter: blur(2px);
  }


  /* CART */


.cart__hidden {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.cart__container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 35px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.back-button {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}


.cart__header {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}

.cart__h1 {
    margin: 0;
    font-size: 28px;
    color: #333;
}

.cart__main {
    padding: 20px;
}

.cart__calc {
    display: flex;
    flex-direction: row;
}

.cart-items {
    width: 50%;
}

.cart-item {
    display: flex;
    align-items: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cart-summary {
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    max-width: 100%;
}

.cart-summary h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'Maki Sans';
    color: chocolate;
}

.cart-summary button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #69b927;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cart-summary button:hover {
    background-color: #76d12b;
}

.quantity-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #659240;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quantity-button:hover {
    background-color: #69b927;
}

.remove-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: rgb(171 158 137);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #14a2ac;
}

.cart-item-image {
  max-width: 100px;
  height: auto;
  margin-right: 30px;
}

.cart-item-image img {
  border-radius: 20px;
}

.item__container-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.item__cart-name , .item__cart-price , .item__cart-calc {
  margin-bottom: 10px;
}

.cart-count-badge {
  position: absolute;
  top: -1px;
  right: 4px;
  background-color: red;
  color: white;
  font-size: 12px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

/* FORM */

.form__label {
  font-size: 18px;
  display: block;
}

.form__body {
  position: relative;
}

.form__body::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(51, 51, 51, 0.9) url(#) center / 50px no-repeat;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.form__body._sending::after {
  opacity: 1;
  visibility: visible;
}

.form__input {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: blanchedalmond;
}

.form__input:active , .form__input:focus , .form__input:hover {
  outline-color:burlywood; 
}

textarea.form__input {
  min-height: 120px;
  resize: vertical;
}

.form__item-minigroup {
  display: flex;
}

.form__input-mini {
  padding: 0px 10px;
  width: 60%;
}

.form__button {
  padding: 0;
  border: 0;
  border-color: transparent;
  cursor: pointer;
  outline: none;
  background-color: #659240;
  padding: 15px 20px;
  border-radius: 20px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.form__button:hover {
background-color: #69b927;
}

.checkbox {
  margin-bottom: 10px;
}

/* Стили для drawer уведомления */
.drawer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Стили для анимации появления и исчезания */
@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

.drawer {
  animation: slideIn 0.5s ease forwards, slideOut 0.5s ease forwards 2.5s;
  /* Появление на 0.5 секунды, остается на экране 2.5 секунды, затем исчезает на 0.5 секунды */
}

.just-validate-error-label {
  color: #ff7979;
  font-family: 'Maki Sans';
}

#popupImagesContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#popupImagesContainer img {
  width: 100px;
  height: auto;
  margin-right: 10px;
}

.fancybox-content {
  background-color: black;
  padding: 0;
}